#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  display:none;
  background-color: rgba(0, 0, 0, 0.7)

}

#boxes .window {
  position:absolute;
  left:0;
  top:0;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
  border-radius: 15px;
  text-align: center;
}
#boxes #dialog {
  width:700px;
  height:auto;
  padding:10px;
  background-color:#fff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}
#lorem > p > span{
  color: blue;
  padding:1em;
}
#lorem > div > div.more > p > span{
  color: blue;
  padding:1em;
}
#lorem > span{
  color: blue;
}
.maintext{
	text-align: center;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}
body{
  background:#000;
}
#lorem{
	font-family: "Segoe UI", sans-serif;
	font-size: 12pt;
  text-align: left;
}
#popupfoot{
	font-family: "Segoe UI", sans-serif;
	font-size: 16pt;
  padding: 10px 20px;
}
#popupfoot a{
	text-decoration: none;
}
.agree:hover{
  background-color: #D1D1D1;
}
.popupoption:hover{
	background-color:#D1D1D1;
	color: green;
}
.popupoption2:hover{

	color: red;
}
