<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/partenaire.css') }}">

  </head>
  <body>
    <div class="containerP" >
      <ul>
        {% for item in publicites %}


        <li>
          <a href="{{item.link}}">
            <img src="{{ asset(item.webPath)}}" alt="">

          </a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </body>
</html>
